.form-groupa
{
    margin-left: 30px;
}

.form-groupb
{
    margin-left: 43px;
}

.form-groupc
{
    margin-left: 63px;
}

.form-groupd
{
    margin-left: 110px;
}

.createPost
{
    margin-left: 240px;
}

.form-groupz
{
    margin-left: 100px;
}