.categories{
    display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(78, 8, 8);
  position: fixed;
  z-index: 100;
  top:3rem;
  height: 2rem;
}

.category{

    color: burlywood;
    text-decoration: burlywood 2px;
}

.buyNow{
  margin-right: 3rem;
}

.froms{
  display: flex;
  flex-direction: row;
  
}
.entry{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-right: 0px;
  
}

.highlight {
	display: inline-block;
	color: #fff;
	line-height: 2em;
	padding: 0px 10px 0px 15px;
	border-radius: 4px;
}
.tag {
  display: inline-block;
	background: red;
  color: #fff;
  padding: 0px 8px 1px 8px;
  border-radius: 4px;
}
.bestSeller{
  display: flex;
  flex-direction: row;
}

.catgyList{
  display: flex;
  flex-direction: column;
}
.product_list_best{
  width: 90%;
}

