.cbtn{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 24px;
    border-radius: 40px;
    border-width: 5px;
    border-color: rgb(219, 128, 24);
    font-family: "Open Sans", sans-serif;
    background-color: rgb(240, 204, 151);
    margin-bottom: 5px;
}

.product_list{
    display: flex;
    flex-direction: column;
    margin-left: 260px;
}

.product_list_home{
    display: flex;
    flex-direction: column;
    
}
.product_title{
    font-style: oblique;
    font-variant: small-caps;
    font-weight: bolder;
    margin-right:10px;
}

.product_price
{
    margin-right: 40px;
}

.product_rating
{
    margin-right: 30px;
}

.product_quantity
{
    margin-right: -10px;
    margin-left: 40px;
}

.BuyNow
{
    margin-top: 10px;
    background-color: blanchedalmond;
    
    border-width: 3px;
    border-color: rgb(251, 172, 53);
    margin-right: 2rem;
    border-radius: 5px;
}

.AddtoWishList
{
    margin-top: 10px;
    background-color: blanchedalmond;
    
    border-radius: 5px;
    border-width: 3px;
    border-color:  rgb(235, 143, 7);
}

.product{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px grey;
}

.productDetails{
    width: 50px;
}

.bigContainer{
    display: flex;
    flex-direction: row;
}

.showCase{
    
    flex-grow: 2;
}

.qtyDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sideBar{
    
   display: flex;
   flex-direction: column;
   position: fixed;
   height: 100%;
   width: 250px;
   left: 0;
   background-color:rgb(63, 61, 59);
   
}

.sideBar ul{
    padding-top: 25px;
    
    list-style: none;
    text-decoration: none;
    background-color:rgb(63, 61, 59);
    margin: top 20px;
    padding: 0;
}
.sideBar ul a{
    text-align: left;
    font-size: 20px;
    display: block;
    height:100%;
    width:100%;
    box-sizing: border-box;
    line-height: 50px;
    padding-left: 35px;
    border-top:1px solid grey ;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color:rgb(63, 61, 59);
    color:burlywood;
    transition: .3s;
}

ul li :hover{
    padding-left: 50px;
    background-color:rgb(126, 124, 121) ;
}

.sideBar span{
    
    color:burlywood;
}

.details{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    font-size: 16px;
}

.detail{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 5px;
}

.createPost{
    margin-top: 10px;
    background-color: blanchedalmond;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border-width: 3px;
    border-color:  rgb(235, 143, 7);
}

.selectCatgy{
    margin-top: 14px;
    min-width: 15em;
    height: 37px;
    padding: 0px 20px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: whitesmoke;
    border: 0;
    border-radius: 10px;
    border-color: rgb(201, 101, 13);
    border-width: 5px;
    border-style: ridgeS;
    margin-bottom: 11px;
    transition: all 250ms ease-in-out;
}